<img *ngIf="result.length === 0" style="display: block; margin-left: 50%; margin-top: 50%; width: 2%" src="./assets/img/loading.gif" />
<div id="wrap" *ngIf="result.length !== 0">
  <section class="container ng-scope" data-ng-view="">
    <section class="ng-scope">
      <h1 id="block-number" class="ng-binding">Block #{{result[0] ? result[0].block_number : ''}}</h1>
      <div data-ng-if="block.hash" class="ng-scope">
        <div class="well well-sm ellipsis">
          <strong>BlockHash</strong>
          <span id="block-hash" class="txid text-muted ng-binding">{{result[0] ? result[0].block_hash : ''}}</span>
          <span class="btn-copy" clip-copy="block.hash"></span>
        </div>
        <h2 translate=""><span class="ng-scope">Summary</span></h2>
        <div class="row">
          <div class="col-md-6">
            <table class="table" style="table-layout: fixed">
              <tbody>
                <tr>
                  <td><strong translate=""><span class="ng-scope">Fingerprint</span></strong></td>
                  <td class="text-right text-muted">
                    <div class="ellipsis">
                      <span id="asset-fingerprint"class="ng-binding">{{result[0] ? result[0].asset_fingerprint : ''}}</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><strong translate=""><span class="ng-scope">Asset Signature</span></strong></td>
                  <td class="text-right text-muted">
                    <div class="ellipsis">
                      <span id="asset-signature" class="ng-binding">{{result[0] ? result[0].asset_signature : ''}}</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><strong translate=""><span class="ng-scope">Asset ID</span></strong></td>
                  <td class="text-right text-muted">
                    <div class="ellipsis">
                      <span class="ng-binding"><a id="asset-id" href="asset/{{result[0] ? result[0].asset_id : ''}}" class="ng-binding">{{result[0] ? result[0].asset_id : ''}}</a></span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><strong translate=""><span class="ng-scope">Timestamp</span></strong></td>
                  <td id="tx-timestamp" class="text-right text-muted ng-binding">{{result[0] ? result[0].timestamp : ''}}</td>
                </tr>
                <tr data-ng-show="block.poolInfo" class="">
                  <td><strong translate=""><span class="ng-scope">Bitmark ID</span></strong></td>
                  <td class="text-right text-muted">
                    <div class="ellipsis">
                      <span id="tx-bitmark-id" class="ng-binding">{{result[0] ? result[0].tx_bitmark_id : ''}}</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td><strong>Registrant</strong></td>
                  <td class="text-right text-muted">
                    <div class="ellipsis">
                      <span id="asset-registrant" class="ng-binding">{{result[0] ? result[0].asset_registrant : ''}}</span>
                    </div>
                  </td>
                </tr>
                <tr data-ng-show="block.previousblockhash" class="">
                  <td><strong translate=""><span class="ng-scope">Previous Block</span></strong></td>
                  <td class="text-right"><a id="prev-block-number" href="block/{{result[0] ? result[0].prev_block_number : ''}}/transaction" class="ng-binding">{{result[0] ? result[0].prev_block_number : ''}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table">
              <tbody>
                <tr>
                  <td> <strong translate=""><span class="ng-scope">Block Offset</span></strong></td>
                  <td id="block-offset" class="text-right text-muted ng-binding">{{result[0] ? result[0].tx_block_offset : ''}}</td>
                </tr>
                <tr>
                  <td> <strong>Description</strong></td>
                  <td class="text-right text-muted">
                    <div class="ellipsis">
                      <span id="asset-description" class="ng-binding">{{(result[0] && result[0].asset_metadata) ? result[0].asset_metadata.description : ''}}</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td> <strong translate=""><span class="ng-scope">Sequence</span></strong></td>
                  <td id="asset-sequence" class="text-right text-muted ng-binding">{{result[0] ? result[0].asset_sequence : ''}}</td>
                </tr>
                <tr>
                  <td> <strong translate=""><span class="ng-scope">Name</span></strong></td>
                  <td class="text-right text-muted">
                    <div class="ellipsis">
                      <span id="asset-name" class="ng-binding">{{result[0] ? result[0].asset_name : ''}}</span>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td> <strong>Status</strong></td>
                  <td class="text-right text-muted">
                    <div class="ellipsis">
                      <span id="asset-status" class="ng-binding">{{result[0] ? result[0].asset_status : ''}}</span>
                    </div>
                  </td>
                </tr>
                <tr class="ng-scope">
                  <td><strong translate=""><span class="ng-scope">Next Block</span></strong></td>
                  <td class="text-right"><a id="next-block-number" href="block/{{result[0] ? result[0].next_block_number : ''}}/transaction" class="ng-binding">{{result[0] ? result[0].next_block_number : ''}}</a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div data-ng-if="block.hash" data-ng-controller="transactionsController" data-ng-init="load('block')" class="ng-scope">
        <h3 translate=""><span class="ng-scope">Transactions</span></h3>





        <div class="ng-scope"><div class="alert alert-warning ng-scope ng-hide" translate=""><span class="ng-scope">There are no transactions involving this address.</span></div>
          <div class="block-tx ng-scope">
            <div class="ng-scope"><div class="line-bot row ng-scope">
                <div class="col-xs-7 col-md-8">
                  <div class="ellipsis">
                    <a class="btn-expand" title="Show/Hide items details">
                      <span class="glyphicon glyphicon-plus-sign"></span>
                    </a>
                    <a id="block-tx-id" class="ng-binding">{{result[0] ? result[0].tx_id : ''}}</a>
                    <span class="btn-copy" clip-copy="tx.txid"></span>
                  </div>
                </div>
                <div class="col-xs-5 col-md-4 text-right text-muted">
                  <div class="ng-hide">
                    <span translate=""><span class="ng-scope">first seen at</span></span>
                    <time class="ng-binding"></time>
                  </div>
                  <div class="">
                    <span translate=""><span class="ng-scope">mined</span></span>
                    <time class="ng-binding">{{result[0] ? result[0].timestamp : ''}}</time>
                  </div>
                </div>
              </div>
              <div class="line-top row ng-scope">
                <div class="col-xs-6 col-sm-4 col-md-4">
                  <span class="txvalues txvalues-default ng-binding ng-hide"><span translate=""><span class="ng-scope">Fee</span></span>: value error </span>
                </div>
                <div class="col-xs-6 col-sm-8 col-md-8 text-right">
                  <span data-ng-show="tx.confirmations" class="txvalues txvalues-success ng-binding"><span translate=""><span class="ng-scope">Confirmations</span></span></span>
                  <span data-ng-show="!tx.confirmations" class="txvalues txvalues-danger ng-hide" translate=""><span class="ng-scope">Unconfirmed Transaction!</span></span>
                  <span class="txvalues txvalues-primary ng-binding">BTC</span>
                </div>
              </div>
            </div>
          </div>
        </div>



      </div>
    </section>
  </section>
</div>
