<div id="wrap">
  <div class="navbar navbar-default navbar-fixed-top ng-scope" data-ng-include="'views/includes/header.html'" role="navigation"><div class="container ng-scope">
      <div data-ng-controller="HeaderController" class="ng-scope">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse" data-ng-click="$root.isCollapsed = !$root.isCollapsed">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="insight navbar-brand" href="/">
            <img alt="Block Explorer" src="img/logo+text horizontal white.png">
          </a>
        </div>
        <div class="navbar-collapse collapse" collapse="$root.isCollapsed" style="height: 0px;">
          <ul class="nav navbar-nav">
            <li data-ng-repeat="item in menu" ui-route="" data-ng-class="{active: $uiRoute}" class="ng-scope">
              <a href="https://blockexplorer.com/news" target="_self" class="ng-binding">News</a>
            </li><li data-ng-repeat="item in menu" ui-route="" data-ng-class="{active: $uiRoute}" class="ng-scope">
              <a href="https://blockexplorer.com/market" target="_self" class="ng-binding">Market</a>
            </li><li data-ng-repeat="item in menu" ui-route="" data-ng-class="{active: $uiRoute}" class="ng-scope">
              <a href="https://bitcoincash.blockexplorer.com" target="_self" class="ng-binding">Bitcoin cash</a>
            </li><li data-ng-repeat="item in menu" ui-route="" data-ng-class="{active: $uiRoute}" class="ng-scope">
              <a href="https://zcash.blockexplorer.com" target="_self" class="ng-binding">Zcash</a>
            </li><li data-ng-repeat="item in menu" ui-route="/blocks" data-ng-class="{active: $uiRoute}" class="ng-scope">
              <a href="/blocks" target="" class="ng-binding">Blocks</a>
            </li><li data-ng-repeat="item in menu" ui-route="/status" data-ng-class="{active: $uiRoute}" class="ng-scope">
              <a href="/status" target="" class="ng-binding">Status</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="https://buy.blockexplorer.com/" class="nav-strong" target="_self">Buy Bitcoin with CC!</a>
            </li>
          </ul>

          <ul class="nav navbar-nav navbar-left">
            <span class="hidden-xs navbar-form navbar-left ng-scope" data-ng-include="" src="'views/includes/search.html'"><form id="search-form" data-ng-controller="SearchController" role="search" data-ng-submit="search()" class="ng-scope ng-pristine ng-valid">
                <div class="form-group" data-ng-class="{'has-error': badQuery}">
                  <input id="search" type="text" class="form-control ng-isolate-scope ng-pristine ng-valid" data-ng-model="q" data-ng-class="{'loading': loading}" placeholder="Search for block, transaction or address" data-ng-submit="search()" focus="true">
                </div>
                <div class="no_matching text-danger ng-hide" data-ng-show="badQuery" translate=""><span class="ng-scope">No matching records found!</span></div>
              </form>
            </span>
            <li>
              <div class="status ng-scope ng-binding" data-ng-controller="StatusController">
                <div data-ng-init="getSync()" class="pull-left">
                  <span class="t text-danger ng-scope ng-hide" data-ng-show="sync.error" tooltip="" tooltip-placement="bottom">
                    <span class="glyphicon glyphicon-warning-sign"></span>
                    ERROR
                  </span>
                  <span class="t ng-scope ng-binding ng-hide" tooltip=" / 519056 synced. 0 skipped" tooltip-placement="bottom" data-ng-show="sync.status==='syncing'">
                    <span class="glyphicon glyphicon-refresh icon-rotate"></span>
                    100%
                  </span>
                  <span class="glyphicon glyphicon-ok ng-scope" tooltip="Historic sync finished" tooltip-placement="bottom" data-ng-show="sync.status==='finished'"> </span>
                </div>
                &nbsp; ·
                <span data-ng-init="getStatus('Info')" class="ng-binding">
                  <strong class="ng-binding">Conn</strong>
                </span> ·
                <strong class="ng-binding">Height</strong>
              </div>
            </li>
            <li>
              <a data-ng-click="openScannerModal()"><span class="glyphicon glyphicon-qrcode"></span> Scan</a>
            </li>
            <li class="dropdown ng-scope" data-ng-controller="CurrencyController" data-ng-include="'views/includes/currency.html'"><a class="dropdown-toggle ng-binding ng-scope" data-toggle="dropdown" href="#">
                BTC <span class="caret"></span>
              </a>
              <ul class="dropdown-menu ng-scope">
                <li>
                  <a href="https://bitcoincash.blockexplorer.com">Bitcoin Cash</a>
                </li>
                <li>
                  <a href="https://zcash.blockexplorer.com">ZCash</a>
                </li>
                <li>
                  <a data-ng-click="setCurrency('USD')" data-ng-class="{active: currency.symbol == 'USD'}">USD</a>
                </li>
                <li>
                  <a data-ng-click="setCurrency('BTC')" data-ng-class="{active: currency.symbol == 'BTC'}" class="active">BTC</a>
                </li>
                <li>
                  <a data-ng-click="setCurrency('mBTC')" data-ng-class="{active: currency.symbol == 'mBTC'}">mBTC</a>
                </li>
                <li>
                  <a data-ng-click="setCurrency('bits')" data-ng-class="{active: currency.symbol == 'bits'}">bits</a>
                </li>
              </ul>

            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <section class="container ng-scope" data-ng-view=""><div data-ng-include="" src="'views/includes/connection.html'" class="ng-scope"><div class="connection-status container ng-scope" data-ng-controller="ConnectionController">

        <div class="alert alert-danger ng-hide" data-ng-show="!serverOnline || !clienteOnline || !apiOnline" data-ng-init="getConnStatus()">

          <strong translate=""><span class="ng-scope">Error!</span></strong>

          <p data-ng-show="!apiOnline" translate="" class="ng-hide"><span class="ng-binding ng-scope">Can't connect to bitcoind to get live updates from the p2p network. (Tried connecting to bitcoind at 127.0.0.1: and failed.)</span></p>

          <p data-ng-show="!serverOnline" translate="" class="ng-hide"><span class="ng-scope">Can't connect to insight server. Attempting to reconnect...</span></p>

          <p data-ng-show="!clienteOnline" translate="" class="ng-hide"><span class="ng-scope">Can't connect to internet. Please, check your connection.</span></p>

        </div>
      </div>
    </div>
    <section data-ng-controller="BlocksController" data-ng-init="findOne()" class="ng-scope">
      <div class="secondary_navbar hidden-xs hidden-sm" scroll="" data-ng-class="{'hidden': !secondaryNavbar}" data-ng-show="block.hash" data-ng-init="hideSNavbar=0">
        <div class="container ng-scope" data-ng-if="!hideSNavbar">
          <div class="row">
            <div class="col-md-1">
              <a href="block/00000000000000000e78cde4510ef53a7ee213752560ff7a88567c7869de7ff1"><span class="lead glyphicon glyphicon-chevron-left"></span></a>
            </div>
            <div class="col-md-10">
              <div class="row">
                <div class="col-md-5">
                </div>
                <p class="col-md-6 ellipsis text-left ng-binding">
                  <strong>Hash</strong> {{result ? result.block_hash : ''}}
                </p>
                <div class="col-md-1 text-left">
                  <span class="btn-copy" clip-copy="block.hash"></span>
                </div>
              </div>
            </div>
            <div class="col-md-1">
              <a data-ng-show="block.nextblockhash" href="block/0000000000000000167bce693f9b4efc27952492b7aba31f2aeead009d4669b4" class=""><span class="lead glyphicon glyphicon-chevron-right"></span></a>
            </div>
          </div>
        </div>
        <div class="hide_snavbar">
          <a href="#" data-ng-click="hideSNavbar=!hideSNavbar">
            <span data-ng-show="hideSNavbar" class="ng-hide"><span class="text-muted glyphicon glyphicon-chevron-down"></span></span>
            <span data-ng-show="!hideSNavbar" class=""><span class="text-muted glyphicon glyphicon-chevron-up"></span></span>
          </a>
        </div>
      </div>
      <h1 id="block-number" class="ng-binding">Block #{{result ? result.block_number : ''}}</h1>
      <div data-ng-if="block.hash" class="ng-scope">
        <div class="well well-sm ellipsis">
          <strong>BlockHash</strong>
          <span id="block-hash" class="txid text-muted ng-binding">{{result ? result.block_hash : ''}}</span>
          <span class="btn-copy" clip-copy="block.hash"></span>
        </div>
        <h2 translate=""><span class="ng-scope">Summary</span></h2>
        <div class="row">
          <div class="col-md-6">
            <table class="table" style="table-layout: fixed">
              <tbody>
                <tr>
                  <td><strong translate=""><span class="ng-scope">Number Of Transactions</span></strong></td>
                  <td class="text-right text-muted ng-binding"></td>
                </tr>
                <tr>
                  <td><strong translate=""><span class="ng-scope">Height</span></strong></td>
                  <td class="text-right text-muted ng-binding">
                    <span data-ng-show="block.isMainChain" class="text-success"></span>
                    <span data-ng-show="!block.isMainChain" class="text-danger ng-hide"> <span class="glyphicon glyphicon-warning-sign"></span> (Orphaned)</span>
                  </td>
                </tr>
                <tr>
                  <td><strong translate=""><span class="ng-scope">Block Reward</span></strong></td>
                  <td class="text-right text-muted ng-binding">BTC</td>
                </tr>
                <tr>
                  <td><strong translate=""><span class="ng-scope">Timestamp</span></strong></td>
                  <td id="block-timestamp" class="text-right text-muted ng-binding">{{result ? result.timestamp : ''}}</td>
                </tr>
                <tr data-ng-show="block.poolInfo" class="">
                  <td><strong translate=""><span class="ng-scope">Mined by</span></strong></td>
                  <td class="text-right text-muted">
                    <a href="" target="_blank" title="" class="ng-binding"></a>
                  </td>
                </tr>
                <tr>
                  <td><strong>Merkle Root</strong></td>
                  <td class="text-right text-muted">
                    <div class="ellipsis">
                      <span class="btn-copy" clip-copy="block.merkleroot"></span>
                      <span class="ng-binding"></span>
                    </div>
                  </td>
                </tr>
                <tr data-ng-show="block.previousblockhash" class="">
                  <td><strong translate=""><span class="ng-scope">Previous Block</span></strong></td>
                  <td class="text-right"><a href="block/00000000000000000e78cde4510ef53a7ee213752560ff7a88567c7869de7ff1" class="ng-binding"></a></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="col-md-6">
            <table class="table">
              <tbody>
                <tr>
                  <td> <strong translate=""><span class="ng-scope">Difficulty</span></strong></td>
                  <td class="text-right text-muted ng-binding"></td>
                </tr>
                <tr>
                  <td> <strong>Bits</strong></td>
                  <td class="text-right text-muted ng-binding"></td>
                </tr>
                <tr>
                  <td> <strong translate=""><span class="ng-scope">Size (bytes)</span></strong></td>
                  <td class="text-right text-muted ng-binding"></td>
                </tr>
                <tr>
                  <td> <strong translate=""><span class="ng-scope">Version</span></strong></td>
                  <td class="text-right text-muted ng-binding"></td>
                </tr>
                <tr>
                  <td> <strong>Nonce</strong></td>
                  <td class="text-right text-muted ng-binding"></td>
                </tr>
                <tr data-ng-show="block.nextblockhash" class="">
                  <td><strong translate=""><span class="ng-scope">Next Block</span></strong></td>
                  <td class="text-right"><a href="block/0000000000000000167bce693f9b4efc27952492b7aba31f2aeead009d4669b4" class="ng-binding"></a></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <div data-ng-if="block.hash" data-ng-controller="transactionsController" data-ng-init="load('block')" class="ng-scope">
        <h3 translate=""><span class="ng-scope">Transactions</span></h3>
        <div data-ng-include="" src="'views/transaction/list.html'" when-scrolled="loadMore()" class="ng-scope"><div class="alert alert-warning ng-scope ng-hide" data-ng-show="!txs[0].txid &amp;&amp; !loading" translate=""><span class="ng-scope">There are no transactions involving this address.</span></div>
          <div class="block-tx ng-scope" data-ng-show="txs &amp;&amp; txs[0].txid" data-ng-repeat="tx in txs">
            <div data-ng-include="" src="'views/transaction/tx.html'" class="ng-scope"><div class="line-bot row ng-scope" data-ng-hide="!tx">
                <div class="col-xs-7 col-md-8">
                  <div class="ellipsis">
                    <a class="btn-expand" title="Show/Hide items details" data-ng-click="itemsExpanded = !itemsExpanded">
                      <span class="glyphicon glyphicon-plus-sign" data-ng-class="{'glyphicon-minus-sign': itemsExpanded}"></span>
                    </a>
                    <a id="block-tx-id" class="ng-binding">{{result ? result.tx_id : ''}}</a>
                    <span class="btn-copy" clip-copy="tx.txid"></span>
                  </div>
                </div>
                <div class="col-xs-5 col-md-4 text-right text-muted">
                  <div data-ng-show="tx.firstSeenTs" class="ng-hide">
                    <span translate=""><span class="ng-scope">first seen at</span></span>
                    <time class="ng-binding"></time>
                  </div>
                  <div data-ng-show="tx.blocktime &amp;&amp; !tx.firstSeenTs" class="">
                    <span translate=""><span class="ng-scope">mined</span></span>
                    <time class="ng-binding">{{result ? result.timestamp : ''}}</time>
                  </div>
                </div>
              </div>
              <div class="row line-mid ng-scope">
                <div class="col-md-5">
                  <div class="row ng-scope" data-ng-if="tx.isCoinBase">
                    <div class="col-md-12 transaction-vin-vout ng-scope" data-ng-repeat="vin in tx.vin">
                      <div class="ellipsis">
                        <span translate=""><span class="ng-scope">No Inputs (Newly Generated Coins)</span></span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-1 col-xs-12">
                  <div class="hidden-xs hidden-sm text-center">
                    <span class="lead glyphicon glyphicon-chevron-right text-muted"></span>
                  </div>
                  <div class="hidden-md hidden-lg text-center">
                    <span class="lead glyphicon glyphicon-chevron-down text-muted"></span>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="row">
                    <div data-ng-if="!itemsExpanded" data-ng-init="currentOutNoExpanded=0; sizeOutNoExpanded=5" class="ng-scope">
                      <div data-ng-repeat="vout in tx.voutSimple| startFrom:currentOutNoExpanded*sizeOutNoExpanded | limitTo:sizeOutNoExpanded" class="ng-scope">
                        <div class="transaction-vin-vout panel panel-default">
                          <div class="panel-body">
                            <div class="pull-right btc-value ng-binding" data-ng-class="{'text-success': $root.currentAddr == vout.addr}">
                              BTC
                              <span class="text-danger ng-scope" data-ng-show="vout.isSpent" tooltip="Output is spent" tooltip-placement="left">(S)</span>
                              <span class="text-success ng-scope ng-hide" data-ng-show="!vout.isSpent" tooltip="Output is unspent" tooltip-placement="left">(U)</span>
                            </div>

                            <div class="ellipsis">
                              <span data-ng-show="vout.notAddr" class="ng-binding ng-hide">17kkmDx8eSwj2JTTULb3HkJhCmexfysExz</span>
                              <span class="text-muted ng-binding ng-scope ng-hide" title="Current Bitcoin Address" data-ng-show="address == $root.currentAddr" data-ng-repeat="address in vout.addr.split(',')">17kkmDx8eSwj2JTTULb3HkJhCmexfysExz</span><!-- end ngRepeat: address in vout.addr.split(',') -->
                              <a href="address/17kkmDx8eSwj2JTTULb3HkJhCmexfysExz" data-ng-show="!vout.notAddr &amp;&amp; address != $root.currentAddr" data-ng-repeat="address in vout.addr.split(',')" class="ng-binding ng-scope"></a>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="showmore_collapse text-left ng-hide" data-ng-show="tx.voutSimple.length > 5" data-ng-class="{ 'hidden': itemsExpanded}">
                        <button type="button" class="btn btn-info btn-sm ng-hide" ng-hide="sizeOutNoExpanded != tx.voutSimple.length" ng-click="currentOutNoExpanded=0; sizeOutNoExpanded=5"><i class="glyphicon glyphicon-chevron-up"></i>
                          <span translate=""><span class="ng-scope">Show less</span></span></button>
                        <button type="button" class="btn btn-info btn-sm ng-hide" ng-hide="currentOutNoExpanded >= tx.voutSimple.length/sizeOutNoExpanded - 1" ng-click="currentOutNoExpanded=0; sizeOutNoExpanded=tx.voutSimple.length"><i class="glyphicon glyphicon-chevron-down"></i>
                          <span translate=""><span class="ng-scope">Show more</span></span></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="line-top row ng-scope" data-ng-hide="!tx">
                <div class="col-xs-6 col-sm-4 col-md-4">
                  <span data-ng-show="!tx.isCoinBase &amp;&amp;  !isNaN(parseFloat(tx.fees))" class="txvalues txvalues-default ng-binding ng-hide"><span translate=""><span class="ng-scope">Fee</span></span>: value error </span>
                </div>
                <div class="col-xs-6 col-sm-8 col-md-8 text-right">
                  <span data-ng-show="tx.confirmations" class="txvalues txvalues-success ng-binding"><span translate=""><span class="ng-scope">Confirmations</span></span></span>
                  <span data-ng-show="!tx.confirmations" class="txvalues txvalues-danger ng-hide" translate=""><span class="ng-scope">Unconfirmed Transaction!</span></span>
                  <span class="txvalues txvalues-primary ng-binding">BTC</span>
                </div>
              </div>
            </div>
          </div>
          <div class="progress progress-striped active ng-scope ng-hide" data-ng-show="loading">
            <div class="progress-bar progress-bar-info" style="width: 100%">
              <span translate=""><span class="ng-scope">Loading Transactions...</span></span>
            </div>
          </div>
        </div>
      </div>
    </section>
  </section>
</div>
